Manifest.toml
.ipynb_checkpoints

TPM_Ryugu/kernel
TPM_Ryugu/shape
TPM_Ryugu/TPM_Ryugu.jld2

TPM_Kanamaru2021/SHAPE_SFM_49k_v20180804.jld2
TPM_Kanamaru2021/SHAPE_SFM_49k_v20180804.obj

TPM_Didymos/kernel
TPM_Didymos/shape
TPM_Didymos/TPM_Didymos.jld2
